{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<div class="container about">
  <h2 class = "text-center">ABOUT ME</h2>
    <h3 class = "text-center">Background:</h3>
    <br>
    <div class = "row">
      <div class="col-md-6 text-center">
        <h4 id = "blue">Educational Background:</h4>
        
        <h5><strong>Nkuene Girls High</strong>, Kenya — <em>High School</em></h5>
        <h6>February 2015 - November 2018</h6>

        <h5><strong>North Horr Primary School</strong>, Kenya — <em>Primary</em></h5>
        <h6>January 2006 - November 2014</h6>
      </div>

    
    </div>

    <br>
    <hr>
    <br>

    <div class = "row text-center">
      <div class = "col-md-4">
        <h3 id = "blue">Skills:</h3>
        <ol class="text-left">
          <li>Web Development</li>
          <li>Microsoft office Packages</li>
          <li>UX & UI Design</li>
        </ol>
      </div>

    <hr>

      <div class = "col-md-4">
        <h3 id = "maroon">What do I want to do? <em id = "blue">(Reason for taking a programming class)</em></h3>
        <p>I want to create proffessional websites for commercial businesses to attract a majority lot of customers. I also want to create several interactive sites for most leisure groups.</p>
      </div>

    <hr>

      <div class = "col-md-4">
        <h3 id = "maroon">Curricullum Vitae</h3>
        <p>Find my CV below:</p>
        <p>To open the link online on google docs <a href="https://docs.google.com/document/d/1UwOAnfKUTURbsQ7ejMtHvoO21Rv3qlsAi0VjfQWmix0/edit" target="_blank">Click here</a></p>
      </div>
</div>
{%endblock%}
