{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<div class="container contact">
  <br><br>
  <h2 class="text-center">CONTACT INFORMATION</h2>
  <br>
  <hr>
  <br>
    <div id="contactme" class="text-center">
      <p><span class = "text-center">To contact me call:</span> +254748393309</p>
      <p><span class = "text-center">or Email me at:</span> adhoadhigal@gmail.com</p>
    </div>

    <br>
    <hr>
    <br>

    <div class="contacts text-center">
      <p id="social" >Social Media contacts:</p>
      <a></a>
    </div>
</div>
{%endblock%}