{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}

    <!--Main layout-->
    <main class="mt-5 pt-5">
            <!--Section: Jumbotron-->
            <section class="blue-gradient wow fadeIn" id="intro">

                <!-- Content -->
                <div class="text-white text-center py-5 px-5 my-2 container-fluid">

                    <h1 class="mb-4">
                        <strong>ADHO ADHI GALGALLO</strong>
                    </h1>
                    <h3>
                        <strong>Full-Stack Web Developer</strong>
                    </h3>
                    <p class="mb-4">
                        <strong> I am a juniour programmer working towards specializing in <span> web development.</span> </strong>
                    </p>
                    <a target="_blank" href="https://github.com/HabeshaQueen" class="btn btn-outline-white btn-lg">Visit GitHub Profile
                        <i class="fab fa-github ml-2"></i>
                    </a>

                </div>
                <!-- Content -->
            </section>
            <!--Section: Jumbotron-->

            <!--Section: Cards-->
            <section class="pt-5">
              <div class="container">

                <!-- Heading 
                     `& Description -->
                <div class="wow fadeIn">
                    <!--Section heading-->
                    <h2 class="h1 text-center name">Who is Adho?</h2>
                    <hr>
                    <!--Section description-->
                    <p class="text-center">A full-stack web developer from <span style="font-weight: bold">Marsabit, Kenya.</span> She obtained her education from <span style="font-weight: bold">Moringa School.</span></p>
                    <p class="text-center mb-5 pb-5">Proficient Languages:
                        <strong>Python, JavaScript, TypeScript, HTML and CSS</strong> </p>
                </div>
                <!-- Heading & Description -->

                <h2 class="h1 text-center">Recent Work</h2>
                <hr>

                <!--Grid row-->
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/neighbour.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>Neighbourhood</strong>
                        </h3>
                        <p class="grey-text">This is a web application built in python that keeps track of people in your neighbor-hood,the activities happening in your neighbor-hood and the type of business your neighbors have .</p>
                        <p>
                            Technologies used: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11.,</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/Neighbourhood" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://neighbourhoodchuu.herokuapp.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/git.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>GitHub-Search</strong>
                        </h3>
                        <p class="grey-text">A website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories.</p>
                        <p>
                            Technologies used: <strong>Angular CLI, CSS for styling, HTML for webpage design, Typescript.</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/Github-Search" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://githubsearchchuu.netlify.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/instagram.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>INSTAGRAM</strong>
                        </h3>
                        <p class="grey-text">This is App that is built in python that allows users to view their favorite Photos and add post on it also comment on them.</p>
                        <p>
                            Technologies used: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/INSTRAGRAM" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://inchuu-instagram.herokuapp.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <!--Grid row-->

            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/chukulagalgallo" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://twitter.com/chukulagalgallo" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="https://github.com/HabeshaQueen" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>

            <a href="https://www.instagram.com/chukulagalgallo/?hl=en" target="_blank">
                <i class="fab fa-instagram mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            Adho Galgallo © 2019 Copyright:
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

{%endblock%}
