{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}



  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image" style="background-image: url(assets/img/work-4.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Adho Adhi Galgallo</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Full Stack Developer,Web Developer,Web Designer,Frontend Developer,Graphic Designer</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

  <!-- <main id="main"> -->

    <!-- ======= About Section ======= -->
    


    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="assets/img/chuu.jpg" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <!-- <p class="p-heading">im a ux /ui designer austin based who loves clean, simple & unique design. i also enjoy crafting brand identities, icons, & ilustration work. </p> -->
              <!-- <p class="separator">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.</p> -->

              <h3>
                <strong>Full-Stack Web Developer</strong>
            </h3>
            <p class="text-center">A full-stack web developer from <span style="font-weight: bold">Marsabit, Kenya.</span> She obtained her education from <span style="font-weight:bold">Moringa School.</span></p>

            <p class="mb-4">
                 I am a programmer working towards specializing in <span> web development.</span> 
            </p>
          <p>Enthusiastic individual with superior skills in working in both team-based and independent capacities. Bringing strong work ethic and excellent organizational skills to any setting. Excited to begin new challenge with successful team.</p>
          <p>Unconventional professional valued for driving consistency and quality throughout all phases of software development projects. Committed to producing high-quality, user-friendly, scalable and bug-free software.</p>
          
            </div>

          </div>
        </div>
      </div>
    </div>








    <!--Main layout-->
    <main class="mt-5 pt-5">
            <!--Section: Jumbotron-->
            <section class="blue-gradient wow fadeIn" id="intro">

                <!-- Content -->
                <div class="text-white text-center py-5 px-5 my-2 container-fluid">

                    <h1 class="mb-4">
                        <strong>ADHO ADHI GALGALLO</strong>
                    </h1>
                    <h3>
                        <strong>Full-Stack Web Developer</strong>
                    </h3>
                    <p class="mb-4">
                        <strong> I am a juniour programmer working towards specializing in <span> web development.</span> </strong>
                    </p>
                    <a target="_blank" href="https://github.com/HabeshaQueen" class="btn btn-outline-white btn-lg">Visit GitHub Profile
                        <i class="fab fa-github ml-2"></i>
                    </a>

                </div>
                <!-- Content -->
            </section>
            <!--Section: Jumbotron-->

            <!--Section: Cards-->
            <section class="pt-5">
              <div class="container">

                <!-- Heading 
                     `& Description -->
                <div class="wow fadeIn">
                    <!--Section heading-->
                    <h2 class="h1 text-center name">Who is Adho?</h2>
                    <hr>
                    <!--Section description-->
                    <p class="text-center">A full-stack web developer from <span style="font-weight: bold">Marsabit, Kenya.</span> She obtained her education from <span style="font-weight: bold">Moringa School.</span></p>
                    <p class="text-center mb-5 pb-5">Proficient Languages:
                        <strong>Python, JavaScript, TypeScript, HTML and CSS</strong> </p>
                </div>
                <!-- Heading & Description -->

                <h2 class="h1 text-center">Recent Work</h2>
                <hr>

                <!--Grid row-->
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/neighbour.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>Neighbourhood</strong>
                        </h3>
                        <p class="grey-text">This is a web application built in python that keeps track of people in your neighbor-hood,the activities happening in your neighbor-hood and the type of business your neighbors have .</p>
                        <p>
                            Technologies used: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11.,</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/Neighbourhood" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://neighbourhoodchuu.herokuapp.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/git.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>GitHub-Search</strong>
                        </h3>
                        <p class="grey-text">A website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories.</p>
                        <p>
                            Technologies used: <strong>Angular CLI, CSS for styling, HTML for webpage design, Typescript.</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/Github-Search" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://githubsearchchuu.netlify.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1-half">
                            <div class="view overlay">
                                <div class="">
                                    <img class="img-responsive" width="100%" src="../../static/images/instagram.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                        <h3 class="mb-3 font-weight-bold dark-grey-text">
                            <strong>INSTAGRAM</strong>
                        </h3>
                        <p class="grey-text">This is App that is built in python that allows users to view their favorite Photos and add post on it also comment on them.</p>
                        <p>
                            Technologies used: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11</strong>
                        </p>
                        <a href="https://github.com/HabeshaQueen/INSTRAGRAM" target="_blank" class="btn btn-primary btn-md">Visit GitHub Repository
                            <i class="fab fa-github ml-2"></i>
                        </a>
                        <a href="https://inchuu-instagram.herokuapp.com/" target="_blank" class="btn btn-primary btn-md">Open Site
                            <i class="fas fa-globe ml-2"></i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>

                <hr class="mb-5">
                
                
                
                <!--Grid row-->

            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/chukulagalgallo" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://twitter.com/chukulagalgallo" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="https://github.com/HabeshaQueen" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>

            <a href="https://www.instagram.com/chukulagalgallo/?hl=en" target="_blank">
                <i class="fab fa-instagram mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            Adho Galgallo © 2019 Copyright:
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

{%endblock%}
