{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}

  
  <!-- topbar -->
  
  <nav class="topnav btm">
      <ul>
      <li class="one">
        <i class="fab fa-angular mr-3"></i>Angular
      </li>
      <li class="two">
        <i class="fas fa-database mr-3"></i>Collaborations</li>
      <li class="three">
        <i class="fab fa-python mr-3"></i>Django</li>
      <li class="four">
        <i class="fas fa-pepper-hot fa-flip-horizontal mr-3"></i>Flask</li>
      <li class="five">
        <i class="fab fa-js mr-3"></i>Javascript</li>
      </ul>
  </nav>
  
  <!--Section: Cards-->
  <section class="pt-5">
    
      <div class="container-fluid">
  
          <!-- Heading & Description -->
          <div class="wow fadeIn row" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-2 sidenav">
              <!-- Sidebar -->
              <div class="py-5 my-5">
      
                <ul class="list-group list-group-flush">
                  <li href="" class="list-group-item list-group-item-action waves-effect" id="one">
                    <i class="fab fa-angular fa-5x mr-3"></i>Angular
                  </li>
                  <li href="" class="list-group-item list-group-item-action waves-effect" id="two">
                    <i class="fas fa-database fa-5x mr-3"></i>Group</li>
                  <li href="" class="list-group-item list-group-item-action waves-effect" id="three">
                    <i class="fab fa-python fa-5x mr-3"></i>Django</li>
                  <li href="" class="list-group-item list-group-item-action waves-effect" id="four">
                    <i class="fas fa-pepper-hot fa-5x fa-flip-horizontal mr-3"></i>Flask</li>
                  <li href="" class="list-group-item list-group-item-action waves-effect" id="five">
                    <i class="fab fa-js fa-5x mr-3"></i>Javascript</li>
                </ul>
      
              </div>
      
            </div>
            <div class="col-md-10 hiden ally">
              <h2 class="h1 text-center tp">All Projects</h2>
              <hr>
              <div class="row proj">
                
                
                <!--Grid column-->
                    <div class="col-md-6 mb-4">
      
                      <!--Card-->
                      <div class="card">
      
                        <!--Card image-->
                        <div class="view overlay">
                          <div class="">
                            <img class="img-responsive" width="100%" src="../../static/images/neighbour.png">
                          </div>
                        </div>
      
                        <!--Card content-->
                        <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">Neighbourhood</h4>
                          <!--Text-->
                          <p class="card-text">This is a web application built in python that keeps track of people in your neighbor-hood,the activities happening in your neighbor-hood and the type of business your neighbors have .</p>
                          <p class="card-text">
                            Technologies: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11.,</strong>
                          </p>
                        </div>
      
                        <div class="card-footer">
                          <a href="https://github.com/HabeshaQueen/Neighbourhood" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                              <i class="fab fa-github ml-2"></i>
                          </a>
                          <a href="https://neighbourhoodchuu.herokuapp.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                              <i class="fas fa-globe ml-2"></i>
                          </a>
                        </div>
      
                      </div>
                      <!--/.Card-->
      
                    </div>
                    <!--Grid column-->
                    
                <!--Grid column-->
                    <div class="col-md-6 mb-4">
      
                      <!--Card-->
                      <div class="card">
      
                        <!--Card image-->
                        <div class="view overlay">
                          <div class="">
                            <img class="img-responsive" width="100%" src="../../static/images/git.png">
                          </div>
                        </div>
      
                        <!--Card content-->
                        <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">GitHub-Search</h4>
                          <!--Text-->
                          <p class="card-text">A website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories.</p>
                          <p class="card-text">
                            Technologies: <strong>Angular CLI, CSS for styling, HTML for webpage design, Typescript.</strong>
                          </p>
                        </div>
      
                        <div class="card-footer">
                          <a href="https://github.com/HabeshaQueen/Github-Search" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                              <i class="fab fa-github ml-2"></i>
                          </a>
                          <a href="https://githubsearchchuu.netlify.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                              <i class="fas fa-globe ml-2"></i>
                          </a>
                        </div>
      
                      </div>
                      <!--/.Card-->
      
                    </div>
                    <!--Grid column-->
                    
                <!--Grid column-->
                    <div class="col-md-6 mb-4">
      
                      <!--Card-->
                      <div class="card">
      
                        <!--Card image-->
                        <div class="view overlay">
                          <div class="">
                            <img class="img-responsive" width="100%" src="../../static/images/instagram.png">
                          </div>
                        </div>
      
                        <!--Card content-->
                        <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">INSTAGRAM</h4>
                          <!--Text-->
                          <p class="card-text">This is App that is built in python that allows users to view their favorite Photos and add post on it also comment on them.</p>
                          <p class="card-text">
                            Technologies: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11</strong>
                          </p>
                        </div>
      
                        <div class="card-footer">
                          <a href="https://github.com/HabeshaQueen/INSTRAGRAM" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                              <i class="fab fa-github ml-2"></i>
                          </a>
                          <a href="https://inchuu-instagram.herokuapp.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                              <i class="fas fa-globe ml-2"></i>
                          </a>
                        </div>
      
                      </div>
                      <!--/.Card-->
      
                    </div>
                    <!--Grid column-->
                    
                    
                  </div>
              </div>
      
              <div class="col-md-10 hiden  angular">
                <h2 class="h1 text-center tp">Angular Projects</h2>
                <hr>
                <div class="row proj">
                  
                  
                  <!--Grid column-->
                      <div class="col-md-6 mb-4">
      
                        <!--Card-->
                        <div class="card">
      
                          <!--Card image-->
                          <div class="view overlay">
                            <div class="">
                              <img class="img-responsive" width="100%" src="../../static/images/git.png">
                            </div>
                          </div>
      
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">GitHub-Search</h4>
                            <!--Text-->
                            <p class="card-text">A website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories.</p>
                            <p class="card-text">
                              Technologies: <strong>Angular CLI, CSS for styling, HTML for webpage design, Typescript.</strong>
                            </p>
                          </div>
      
                          <div class="card-footer">
                            <a href="https://github.com/HabeshaQueen/Github-Search" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                                <i class="fab fa-github ml-2"></i>
                            </a>
                            <a href="https://githubsearchchuu.netlify.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                                <i class="fas fa-globe ml-2"></i>
                            </a>
                          </div>
      
                        </div>
                        <!--/.Card-->
      
                      </div>
                      <!--Grid column-->
                      
                      
                    </div>
                </div>
      
                <div class="col-md-10 hiden collaborations">
                  <h2 class="h1 text-center tp">Collaborated Projects</h2>
                  <hr>
                  <div class="row proj">
                    
                      </div>
                  </div>
      
                  <div class="col-md-10 hiden django">
                    <h2 class="h1 text-center tp">Django Projects</h2>
                    <hr>
                    <div class="row proj">
                      
                      
                      <!--Grid column-->
                          <div class="col-md-6 mb-4">
      
                            <!--Card-->
                            <div class="card">
      
                              <!--Card image-->
                              <div class="view overlay">
                                <div class="">
                                  <img class="img-responsive" width="100%" src="../../static/images/neighbour.png">
                                </div>
                              </div>
      
                              <!--Card content-->
                              <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Neighbourhood</h4>
                                <!--Text-->
                                <p class="card-text">This is a web application built in python that keeps track of people in your neighbor-hood,the activities happening in your neighbor-hood and the type of business your neighbors have .</p>
                                <p class="card-text">
                                  Technologies: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11.,</strong>
                                </p>
                              </div>
      
                              <div class="card-footer">
                                <a href="https://github.com/HabeshaQueen/Neighbourhood" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                                    <i class="fab fa-github ml-2"></i>
                                </a>
                                <a href="https://neighbourhoodchuu.herokuapp.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                                    <i class="fas fa-globe ml-2"></i>
                                </a>
                              </div>
      
                            </div>
                            <!--/.Card-->
      
                          </div>
                          <!--Grid column-->
                          
                      <!--Grid column-->
                          <div class="col-md-6 mb-4">
      
                            <!--Card-->
                            <div class="card">
      
                              <!--Card image-->
                              <div class="view overlay">
                                <div class="">
                                  <img class="img-responsive" width="100%" src="../../static/images/instagram.png">
                                </div>
                              </div>
      
                              <!--Card content-->
                              <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">INSTAGRAM</h4>
                                <!--Text-->
                                <p class="card-text">This is App that is built in python that allows users to view their favorite Photos and add post on it also comment on them.</p>
                                <p class="card-text">
                                  Technologies: <strong>CSS for styling, HTML for webpage design, Python3.6, Django 1.11</strong>
                                </p>
                              </div>
      
                              <div class="card-footer">
                                <a href="https://github.com/HabeshaQueen/INSTRAGRAM" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Visit GitHub Repository
                                    <i class="fab fa-github ml-2"></i>
                                </a>
                                <a href="https://inchuu-instagram.herokuapp.com/" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Open Site
                                    <i class="fas fa-globe ml-2"></i>
                                </a>
                              </div>
      
                            </div>
                            <!--/.Card-->
      
                          </div>
                          <!--Grid column-->
                          
                          
                        </div>
                    </div>
      
                    <div class="col-md-10 hiden flask">
                      <h2 class="h1 text-center tp">Flask Projects</h2>
                      <hr>
                      <div class="row proj">
                        
                          </div>
                      </div>
      
                      <div class="col-md-10 hiden javascript">
                        <h2 class="h1 text-center tp">Javascript Projects</h2>
                        <hr>
                        <div class="row proj">
                          
                            </div>
                        </div>
          </div>
      
        </div>
      </section>
      
      
    